// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}
html,body {
  height: 100%;
  width: 100%;
  margin-top: 0;
}



.footer {
  background-color: #2c3e50;
  color: white;
  width: 100%;
}
.site-name-panel {

}
.navbar-header {
  width: 100%;
}

.small-button {
  display: inline-block;
  margin-top: 10px;
  background-color: #2c3e50;
  padding: 1px 6px;
  a {
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
.small-button:hover {
  background-color: #34495e;
}

}

.header-wrapper {
  width: 100%;
  height: 80%;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;
  
  .contextual-region {
    position: absolute;
  }

  #block-slogan {
    position: absolute;
    left: 5%;
    margin-top: 10%;
  }

  span {
    line-height: 1;
    font-family: Sans-Serif;
  }
  p {
    margin: 0;
  }
  .large-slogan {
    font-size: 49px;
    color: white;
    font-family: arial;
  }
  .middle-slogan {
    font-size: 31px;
    color: #696969;
  }
  .little-slogan {
    color: #336699;
    font-size: 12px;
  }
}
.wrapper-content-contact {
  width: 90%;
  margin-left: auto;
  margin-right: auto;


  label {
    visibility: hidden;
  }
  .block-region-right {    
    padding: 10px;
  }
  .block-region-left {
    padding: 10px;
    input {
      width: 100%;
    }
  }
}
.wrapper-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  img {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  h5 {
    font-size: 19px;
  }

  section {
    padding-bottom: 30px;
    width: 100%;
  }
  section:nth-child(2n) {
      background-image: url(../images/say.jpg);

      .views-col {
        background-color: white;
        padding-bottom: 15px;

      }
  }


  .block-views {
    margin-top: 50px;
  }

  .views-col {
    * {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    text-align: center;
  }

  .block-title {
    text-align: center;
    font-weight: 600;
  }
  .view-news {
    .small-button {
      float: right;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 13px;
      }
    }
    .views-col {
      height: 150px;
    }
    a {
      color: black;
      font-size: 20px;
    }
    
  }
  

}


// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
